#titel{
    color: darkgoldenrod;
}

#speichern{
    background: green;
    padding: 10px;

}

#zurücksetzen{
    background: red;
    padding: 10px; 
}

input{
    padding: 10px;
}
label{

    background: blueviolet;
    padding: 10px;

}
h1{
    color:red;
}


#todoApp{
    margin-top: 200px;
    margin-left: 300px;
    width: 50%;
    height: 50vh;

    justify-content: center;


}